<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login is administrator</h2>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Enter Email</small>
      <small *ngIf="form.get('email').errors.email">Enter valid Email</small>
    </div>
  </div>

  <div
    class="form-control"
  >
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Enter Password</small>
      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен быть не менее
        {{form.get('password').errors.minlength.requiredLength}}
        символов. Сейчас он
        {{form.get('password').errors.minlength.actualLength}}
        символа.
      </small>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="form.invalid || submitted"
  >Login</button>


</form>
